.card {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #cfcfcf;
    display: flex;    
    border-radius: 0.5rem;
    flex-direction: row;
}

.card > div {
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.image h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    
}

.image > div {
    margin-top: 1rem !important;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
    border-left: 1px solid #cfcfcf;
    width: 50% !important;
}

.data > div {
    width: 100%;
    text-align: center;    
    height: 100%;
    display: flex;
    flex-direction: column;        
}

.data > div > div {
    display: flex;
    height: 100%;
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.data > div > div:last-child {
    border-bottom: none;
}

.keys {
    text-transform: uppercase;
}

.gridSprites {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}

.gridSprites > div {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.sprites {
    border-left: 1px solid #cfcfcf;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.btns button {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    width: 50%;
    height: 1rem;
    text-align: center;
    line-height: 0rem;
    cursor: pointer;
    background: none;
    border: none;    
}

.indicator {
    position: relative;
    width: 50%;
    height: 5px;
    top: 1px;
    transition: left 0.3s;    
}

.btnMale {   
    color: #007AAE;
}

.btnFemale {     
    color: #AE00A4;
}

.btnMale:hover {
    color: #3DB8EF;
}

.btnFemale:hover {
    color: #EF3DE4;
}

.value p{
    text-transform: capitalize;
}